#root {
  max-width: 3000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
    background-color: #313436;
    font-family: sans-serif;
    padding: 2em;

    min-height: 100vh;

    /* gradient from grey to black to grey */
    background: linear-gradient(
        to right,       /* Gradient direction */
        #333,           
        #000 25%,       
        #000 75%,       
        #333            
    );


}


.gradient-title {
    font-size: 200px;
    
    font-weight: bold;
    margin: 0;
    line-height: 1; /* Adjust line-height to be tight with the font-size */
    background: linear-gradient(
        to bottom,      
        white 30%,       
        transparent 80%  
    );

    /* Clip the background to the shape of the text */
    -webkit-background-clip: text; /* For Safari/Chrome */
            background-clip: text;

    color: transparent;
}