/* /src/components/MergeSortVisualizer.css */

.visualizer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 700px;
}

.controls {
  margin-bottom: 20px;
}

.levels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.level {
  position: relative;
  width: 100%;
  margin-bottom: 30px; /* Space between levels */
  min-height: 50px; /* Ensure level takes space even if empty */
}

.merge-array-container {
  position: absolute;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;

  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.merge-array-box {
  /* Box Dimensions */
  width: 50px;
  height: 50px;
  margin: 0 3px;
  
  /* Centering the Number */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Styling */
  background-color: transparent;
  border: 1px solid #4a9fb3;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  font-weight: bold;

  opacity: 1;
  animation: fadeIn 2.0s ease forwards;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}